{% load static %}
{% load humanize %}
<div class="d-flex flex-column h-100 rounded-4">
    <div class="card h-100 shadow-sm rounded-4 card-wrapper">
        {% with id_str=apt.id|stringformat:"s" %}
          <img src="{% static 'images/apartments/'|add:id_str|add:'/1.jpg' %}" class="card-img-top rounded-top-4 img-fluid" alt="{{ apt.title }}" />
        {% endwith %}
        <!-- Show Apartment Extra Detail -->
        {% if apt.is_sold %}
        <div class="position-absolute top-0 start-0 w-100 h-50 bg-white bg-opacity-50"></div>
        <div class="sold-banner">Sold</div>
        {% endif %}
        <div class="card-fav">
            <div class="card-info-item">
                <i class="fa fa-couch"> </i> &nbsp;{{ apt.num_rooms }}
            </div>
            <div class="card-info-item">
                <i class="fa fa-ruler fa-ruler"> </i> &nbsp;{{ apt.square_meters }} m²
            </div>
            <div class="card-info-item">
                <i class="fa fa-bed"> </i> &nbsp;{{ apt.num_bedrooms }}
            </div>
            <div class="card-info-item">
                <i class="fa fa-bath"> </i> &nbsp;{{ apt.num_bathrooms }}
            </div>
        </div>
        <div class="card-title">
            <div class="card-text">
                <i class="fa-solid fa-hashtag"></i><div class="apt_type">{{ apt.type }}</div> <br />
                <i class="fa-solid fa-location-dot"></i>{{ apt.address }} <br />
                {{ apt.postal_code }} {{ apt.city }} <br />
            </div>
            <h5 class="card-price fs-6">{{ apt.listing_price|intcomma }} kr.</h5>
            <a class="btn btn-primary stretched-link" id="detail-button" href="{% url 'apartment_detail' apt.id %}">Details</a>
        </div>
    </div>
</div>