{% load static %}
<div class="card">
    <img src="{{ apt.image|default:'https://placehold.co/300x200?text=No+Image' }}" class="card-img-top" style="max-height: 300px;" alt="{{ apt.title }}">
    <div class="card-body">
        <h5 class="card-title">
            <img src="{% static "images/location.png" %}" id="fav-location" />
            {{ apt.address }}
        </h5>
        <div class="card-fav">
          <div class="card-text" style="display: flex; align-items: center; gap: 0.25rem;">
            <i class="bi bi-door-closed"><img src="{% static "images/fav-rooms.png" %}" id="fav-location" /></i> 3{{ apt.rooms }} Rooms
          </div>
          <div class="card-text" style="display: flex; align-items: center; gap: 0.25rem;">
            <i class="bi bi-rulers"><img src="{% static "images/fav-square.png" %}" id="fav-location" /></i> 100{{ apt.size }} m²
          </div>
        </div>
        <p class="card-price"> ISK {{ apt.listing_price|floatformat:0 }}</p>
        <a class="btn btn-primary stretched-link" id="detail-button" href="{% url 'apartment_detail' apt.id %}">Details</a>
    </div>
</div>

<!--
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card with stretched link</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
  </div>
</div>
-->