{% extends 'base.html' %}

{% block title %}Properties for Sale{% endblock %}

{% block content %}
    <!-- Search and Filters -->
    <section class="container-fluid">
        {% include 'apartments/_search_apartment.html' %}
    </section>

    <div class="container">
        <h2>Available Properties</h2>

        <a href="{% url 'create_apartment' %}" class="btn btn-primary mb-3">
          + Create New Apartment
        </a>

        <!-- Apartment grid -->
        <div id="apartment-results" class="grid-card">
            {% for apt in apartments %}
                {% include 'apartments/_single_apartment.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
