{% load static %}
body{
    background-color: #FEF7F2;
}
.logo {
    width:110px;
    height: 40px;
}
section, .bg-body-tertiary{
    background-color: #FEF7F2;
}
#section-nav{
    padding-top: 0px;
    padding-bottom: 0px;
}
section{
    padding-top:30px;
    padding-bottom: 30px;
}
.top-section {
    width: 100vw !important;
    margin-left: 50% !important;
    transform: translateX(-50%) !important;
}

.card {
    font-family: Montserrat !important;
    background: #DDC7BB !important;
    /*
    width: 18rem; !important;
    padding: 0px !important;
    margin: 0px !important;
    max-width: 600px !important;
    border-radius: 0.2rem;
    box-shadow: rgb(219, 219, 219) 0px 0.1rem 0.5rem 0.1rem;
    */
}
.card:hover {
    transform: scale(1.04);

}
.card-apartments {
    font-family: Montserrat !important;
    background: #DDC7BB !important;
    width: 18rem; !important;
    padding: 0px !important;
    margin: 0px !important;
    max-width: 600px !important;
    border-radius: 0.2rem;
    box-shadow: rgb(219, 219, 219) 0px 0.1rem 0.5rem 0.1rem;
}
.card img {
    height: 250px !important;
    object-fit: cover;
}
.card-body{
    font-family: Montserrat !important;
    color: #2B1B12 !important;
    font-weight: 800;
}
.mb-5{
    margin-bottom: 1rem !important;
}
.card .btn{
    border-radius: 1.5rem;

}
.grin-card {
    gap: 20px;
}
.card-title {
    font-weight: 800;
    word-wrap: break-word;
    padding-bottom: 10px;
    padding-top: 10px;
}
.card-fav {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 0.5rem;
    padding-top: 10px;
    padding-bottom: 50px;
}
.card-price {
    position: absolute;
    font-size: 1.7rem;
    right: 10px;
    bottom: -12px;
    padding-bottom: 10px;
    padding-bottom: 10px;
}
.apartment-link a{
    border: 0.2rem solid transparent;
    inset: 0px;
    position: absolute;
    text-decoration: none;
    transition: border 0.3s;
    z-index: 2;
    background-color: #2B1B12 !important;
}
.btn btn-dark {
    padding-left:10px;
    padding-left:10px;
}
.nav-link {
    margin: 10px 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-left: auto;
}

#fav-location {
    height: 2vmin !important;
}
.btn{
    display:inline-block !important;
    padding:8px 12px !important;
    background:#2B1B12 !important;
    color:white !important;
    text-decoration:none !important;
    border-radius:4px !important;
}
