/* In your main.css */
.custom-carousel {
    max-height: 400px;
    overflow: hidden;
}

.custom-carousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 400px;
}

.carousel-caption h5 {
    color: black;
}
.carousel-caption p {
    color: black;
}
.carousel-control-prev {
    justify-content: flex-start !important;
}
.carousel-control-next {
    justify-content: flex-end !important;
}

/* Image indicators in the slide show */
.carousel-indicators button {
  opacity: 0.6;
  border-radius: 4px;
}
.carousel-indicators .active {
  opacity: 1;
  border: 2px solid #007bff;
}
