<div class="input-group mb-3 container">
    <input type="search" id="search-value" class="form-control" placeholder="Keywords...">
    <select id="city" class="form-select">
        <option value="">Any City</option>
        <option value="Reykjavik">Reykjavik</option>
        <option value="Akureyri">Akureyri</option>
    </select>
    <select id="type" class="form-select">
        <option value="">All Types</option>
        <option value="Apartment">Apartment</option>
        <option value="Villa">Villa</option>
    </select>
    <button id="search-icon" class="btn btn-outline-primary" type="button">Search</button>
</div>