<form method="get" action="{% url 'offer_list' %}" class="input-group mb-3 container">
    <input type="search" name="search-value" class="form-control" placeholder="Keywords...">
    <select name="city" class="form-select">
        <option value="">Any City</option>
        <option value="Reykjavik">Reykjavik</option>
        <option value="Akureyri">Akureyri</option>
    </select>
    <select name="type" class="form-select">
        <option value="">All Types</option>
        <option value="Apartment">Apartment</option>
        <option value="Villa">Villa</option>
    </select>
    <button class="btn btn-outline-primary" type="submit">Search</button>
</form>
