{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5 text-center">
  <h2>Step 2: Payment Method</h2>
  <form method="post" class="mx-auto" style="max-width: 600px;">
    {% csrf_token %}
    {{ payment_form.as_p }}

    <div id="credit-fields" style="display: none;">
      <h5>Credit Card Details</h5>
      {{ credit_form.as_p }}
    </div>

    <div id="bank-fields" style="display: none;">
      <h5>Bank Transfer Details</h5>
      {{ bank_form.as_p }}
    </div>

    <div id="mortgage-fields" style="display: none;">
      <h5>Mortgage Details</h5>
      {{ mortgage_form.as_p }}
    </div>

    <div class="d-flex justify-content-center gap-3 mt-4">
      <a href="{% url 'finalize_contact' offer_id %}" class="btn btn-outline-dark px-4">Back</a>
      <button type="submit" class="btn btn-dark px-4">Continue to Review</button>
    </div>
  </form>
</div>
<script src="{% static 'js/payment_form_toggle.js' %}"></script>
{% endblock %}
