{% extends "base.html" %}

{% block content %}

{% include "_slides.html" %}

<div class="grid-3">
    {% for apt in apartments %}
    <div class="cards">
        <img src="https://placehold.co/300x200?text={{ apt.title|urlencode }}" alt="{{ apt.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ apt.address }}</h5>
            <p class="card-text"><strong>Rooms:</strong> {{ apt.rooms }}</p>
            <p class="card-text"><strong>Size:</strong> {{ apt.size }} m²</p>
            <p class="card-text"><strong>Price:</strong> {{ apt.price|floatformat:0 }} kr.</p>
            <a class="btn" href="{% url 'apartment_detail' apt.id %}">Detail</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
