{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- home slides --><link rel="stylesheet" href="{% static 'css/home_slides.css' %}" />
    <!-- home styles --><link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
    <section class="container-fluid">
        {% include '_home_slides.html' %}
    </section>
        <!-- Search and Filters -->
    <section class="container-fluid">
        <form action="{% url 'apartments_list' %}" method="get" id="search-form">
            {% include 'apartments/_search_apartment.html' %}
        </form>
    </section>

    <div class="container">
    <div class="grid-card">
        {% for apt in apartments %}
            {% include 'apartments/_single_apartment.html' %}
        {% endfor %}
    </div>
    </div>
{% endblock %}